services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    user: "0:0"  
    container_name: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
  postgres:
    image: postgres:16
    container_name: core_user_postgres
    environment:
      POSTGRES_DB: core_user
      POSTGRES_USER: core
      POSTGRES_PASSWORD: core
    ports:
    - "5432:5432"

volumes:
  jenkins_home: